!!! 5
%html
  %head
    %meta(charset="utf-8")
    %title RubyUserGroup::Berlin
    %script{:type => "text/javascript", :src => "http://www.google.com/jsapi/"}
    :javascript
      google.load("jquery", "1.4.2");
      google.load("feeds", "1");
    = javascripts(:application, 'application/feed-manager')
    = stylesheets

  %body
    %header
      = img 'rug-b-ruby-user-group-berlin.jpg', :alt => 'RUG::B—Ruby User Group Berlin'
      %iframe(id='a1eae56c' name='a1eae56c' src='http://ads.campus-party.org/www/delivery/afr.php?zoneid=398&amp;cb=INSERT_RANDOM_NUMBER_HERE' frameborder='0' scrolling='no' width='180' height='150')
        %a(href='http://ads.campus-party.org/www/delivery/ck.php?n=aaef1320&amp;cb=INSERT_RANDOM_NUMBER_HERE' target='_blank')
          %img(src='http://ads.campus-party.org/www/delivery/avw.php?zoneid=398&amp;cb=INSERT_RANDOM_NUMBER_HERE&amp;n=aaef1320' border='0' alt='')

      %nav
        = link 'Twitter', 'http://twitter.com/rug_b'
        = link 'Google Group', 'http://groups.google.com/group/rug-b'
        = link 'Xing Group', 'http://www.xing.com/net/rug-b'
        = link 'Github', 'http://github.com/rug-b'
    .page
      = yield
    -#%div(style="position:absolute;left:0;top:0;right:0;bottom:0;background:url(/images/rgg.png) repeat")